.row{
    padding-left: 700px;
}

button{
    color: fuchsia;
    margin: 5px;
}

.banner{
    background-image: url(../images/muppet-banner2.jpg);
    padding: 50px;
    object-fit: contain;
    height: 175px;
    width: 100%;
    margin-top: 10px;
}

.gifDivClass{
    display: inline-block;
    margin: 10px;
}

